# ==============================================================================
# SUPABASE CONFIGURATION (.env)
# ==============================================================================
# Điền thông tin Project URL và Anon Public Key từ Supabase Dashboard của bạn:
# Supabase Dashboard -> Project Settings -> API

EXPO_PUBLIC_SUPABASE_URL=https://jlfemayqttjcfjualfsv.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpsZmVtYXlxdHRqY2ZqdWFsZnN2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc3Mzc0NzEsImV4cCI6MjEwMzMxMzQ3MX0.rUNun-PUw_e0Mg1WBUvMmoEJbG8GkagIn8QRP4ZGsRk

# React Native / CLI Fallback
SUPABASE_URL=https://jlfemayqttjcfjualfsv.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpsZmVtYXlxdHRqY2ZqdWFsZnN2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc3Mzc0NzEsImV4cCI6MjEwMzMxMzQ3MX0.rUNun-PUw_e0Mg1WBUvMmoEJbG8GkagIn8QRP4ZGsRk
